
.page-container{
    padding-top:0px;
}
.index-container{
    position: relative;
    width:100%;
}
.page-image{
    display: block;
    width: 100%;
    height:auto;
}

.title-text{
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    top: 32%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    color:rgb(138, 138, 138);
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    font-size: 4vw;
}


.menu-button{
    display: block;
    color:rgb(202, 202, 202);;
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 2.2vw, 3rem);
    font-weight:500;
    margin-top:2vw;
    padding: 15px 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color:rgb(202, 202, 202);
    transition: background-color 0.3s, font-weight 0.3s;
    text-decoration: none;
}
.menu-button:hover{
    background-color: rgba(255, 244, 229, .2);
    font-weight:bold;
    cursor: pointer;
}


.footer{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    width:100%;
    color:rgb(184, 184, 184);
  
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
}
.hours{
    display: flex;
    align-items: center;

    flex-direction: column;
}
.hours-container{
    display: flex;
}
.l-hblock{
    margin: 20px;
    display: inline-block;
    flex-direction: column;
}