

.title{
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    color: rgb(228, 226, 226);
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 15px;;
}
.subheader{
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    color: rgb(228, 226, 226);
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.menu-section{
    width: 80vw;
    position: relative;
    border-color: white;
    padding:20px;
    padding-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.item-line{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}
.item-line > div:nth-child(1) {
  flex: 5;                      
}
.item-line > div:nth-child(2),
.item-line > div:nth-child(3) {
  flex: 1;         
}             
.item, .price, .type{
    font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
    color: rgb(228, 226, 226);
    margin-left: 20px;
    font-size: 18px;

}
.type{
    text-decoration: underline;
    margin-bottom: 15px;
}
.item{
    margin-right:40px;
}
.read-more-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 13px;
    margin-left: 25px;
    display: flex;
}
.read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.read-more:hover{
    cursor: pointer;
}
.right-arrow{
    height: 15px;
    transition: transform .3s;
    margin-left: 3px;
}
.right-arrow:hover{
    cursor: pointer;
}
.description{
    z-index: -1;
    max-height: 0px;
    opacity: 0;
    transition: opacity .5s, max-height .5s;
    font-size: 15px;
}


.image-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;
    border: solid;
    border-width: 5px;
    border-radius: 5%;
    margin-bottom: 10px;
    /* top: 0px; */
}
.image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 600px;
    height: auto;
    color: whitesmoke;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
}
.display-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.arrows{
    width: 90%;
    height:40px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position:absolute;
}
.scroll-arrow{
    position: relative;
    height:60px;
}
.right-arrow:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.left-arrow:hover{
    cursor: pointer;
    transform: scale(1.2);
}